/***** Mobile first styling *****/

html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.container{
	display:flex;
	justify-content: center;
	align-items: center;
	flex-flow: wrap;
	max-width: 1200px;
	width: 90%;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
	font-size: 1.125em;
}
h3 {
	font-size: 0.75em;
}

p {
	font-size: 0.875em;
	line-height: 21px;
}

header {
	border-bottom: 3px solid #77a466;
	display:flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

header h1 {
	border-bottom: 3px solid #77a466;
	margin: 0;
	padding: 38px 0 20px 0;
	width: 100%;
	text-align: center;
}

header h1 span {
	color: #77a466;
}

header nav {
	padding: 20px 0;
	width: 100%;
}

header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	padding: 10px 10px;
	text-align: center;
	list-style-type: none;
}

header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

.top-section {
	display:flex;
	flex-flow: wrap;
	justify-content: center;
	align-items: center;
	width: auto;
}

.bottom-section {
	display:flex;
	flex-flow: column;
	justify-content: center;
	align-items: flex-start;
	width: auto;
}

.main-image {
}

.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {
}

.main-title h2 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	border-top: 1px solid #eee;
}

.section-one h3 {
	padding: 10px 0px;
}

.section-two {
}

.section-two h3,
.section-three h3 {
	padding: 10px 0px;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0px;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
}

.address {
	font-size: 1em;
	line-height: 24px;
}

footer {
	display:flex;
	justify-content: center;
	align-items: center;
	border-top: 3px solid #eee;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}

/***** Tablet styles *****/
@media all and (min-width: 768px) {
	.bottom-section {
		display:flex;
		flex-flow: row;
		flex-basis: auto;
		justify-content: center;
		align-items: flex-start;
		width: auto;
}
	.section-one,
	.section-two,
	.section-three {
	border-top: 1px solid #eee;
	width: 33%;
	justify-content: center;
	align-items: center;
}
	.section-one h3,
	.section-two h3,
	.section-three h3 {
	padding: 10px 0px;
}

	.section-two {
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
		padding: 0px 20px;
}
	.section-three {
		padding: 0px 20px;
	}
}

/***** Desktop styles *****/
@media all and (min-width: 1200px) {

}
